header,
footer,
article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    padding: 2em;
}

header > *,
footer > * {
    text-align: center;
}

section {
    padding: 1.4em 2.2em;
}

#hero-section {
    position: relative;
    padding-top: 4em;
    background-color: rgb(16, 133, 228);
}

#hero-section .content {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding: 2em;
    width: 80%;
    max-width: 60em;
}

#hero-section .thumbnail {
    width: 8em;
    height: 8em;
    border: 0.2em solid #fff;
    border-radius: 5em;
}

#hero-section .description {
    color: #fff;
    text-align: center;
}

#contacts-section .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1em;
    width: 60%;
}

#contacts-section .content button[type="submit"]:active {
    background-color: rgb(16, 133, 228);
    color: #fff;
}

#contacts-section .content button[type="submit"]:active .icon {
    filter: invert(100%);
}

.link-btn-container {
    z-index: 1;
    display: flex;
    align-items: center;
    gap: 0.4em;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    width: 100%;
    max-width: 80em;
}

.projects-container {
    width: 80%;
}

.skills-container {
    flex-direction: row;
    flex-wrap: wrap;
}

.organizations-container {
    position: relative;
    align-items: flex-start;
    width: 100%;
}

.organizations-container::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100em;
    width: 0.2em;
    background-color: rgb(16, 133, 228);
}

@media (max-width: 720px) {
    #hero-section .content {
        width: 100%;
    }
    
    #hero-section .description {
        font-size: larger;
    }

    .contacts-container {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 960px) {
    #contacts-section .content,
    .card-container {
        width: 100%;
    }
}
