button {
    display: flex;
    align-items: center;
    gap: 0.4em;
    border: none;
    border-radius: 100em;
    padding: 0.8em 1.2em;
    width: min-content;
    transition: transform 0.1s ease;
    filter: invert(100%);
    font-size: medium;
    font-weight: bolder;
    outline: none;
}

button:hover {
    transform: scale(1.1);
}

button[type="submit"] img {
    transition: transform 0.2s ease;
}

button[type="submit"]:hover img {
    transform: translate(18%, -18%) scale(0.8);
}
