nav {
    position: fixed;
    top: 0.6em;
    left: 50%;
    z-index: 2;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    padding: 0.6em 1em;
    border-radius: 100em;
    background-color: rgba(240, 240, 240, 0.6);
    backdrop-filter: blur(1em);
}

nav a {
    padding: 0.4em;
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

nav a.active {
    color: rgba(0, 0, 0, 1);
}

nav a:hover {
    color: rgba(0, 0, 0, 1);
}

nav .nav-highlight {
    position: absolute;
    z-index: -1;
    border-radius: 100em;
    background-color: rgba(255, 255, 255, 0.9);
    transition: left 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55), width 0.6s ease;
}

@media (max-width: 480px) {
    nav {
        flex-wrap: wrap;
        gap: 0em;
        top: 0em;
        border-radius: 0em;
        padding: 0.6em 0em;
        width: 100%;
    }
}
